= form_for @business_need do |f|
  - if @business_need.errors.any?
    #error_explanation
      %h2= "#{pluralize(@business_need.errors.count, "error")} prohibited this business_need from being saved:"
      %ul
        - @business_need.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :string
    = f.text_field :string
  .actions
    = f.submit 'Save'
