%h1 Listing business_needs

%table
  %tr
    %th User
    %th Integer
    %th Name
    %th String
    %th Description
    %th String
    %th Latitude
    %th Integer
    %th Longitude
    %th Integer
    %th Address
    %th String
    %th
    %th
    %th

  - @business_needs.each do |business_need|
    %tr
      %td= business_need.user_id
      %td= business_need.integer
      %td= business_need.name
      %td= business_need.string
      %td= business_need.description
      %td= business_need.string
      %td= business_need.latitude
      %td= business_need.integer
      %td= business_need.longitude
      %td= business_need.integer
      %td= business_need.address
      %td= business_need.string
      %td= link_to 'Show', business_need
      %td= link_to 'Edit', edit_business_need_path(business_need)
      %td= link_to 'Destroy', business_need, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Business need', new_business_need_path
