%h1 Listing social_media_images

%table
  %tr
    %th Socials need
    %th Image
    %th
    %th
    %th

  - @social_media_images.each do |social_media_image|
    %tr
      %td= social_media_image.socials_need_id
      %td= social_media_image.image
      %td= link_to 'Show', social_media_image
      %td= link_to 'Edit', edit_social_media_image_path(social_media_image)
      %td= link_to 'Destroy', social_media_image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Social media image', new_social_media_image_path
