%p#notice= notice

%p
  %b Social need:
  = @business_medium.social_need_id
%p
  %b Integer:
  = @business_medium.integer
%p
  %b Content url:
  = @business_medium.content_url
%p
  %b String:
  = @business_medium.string
%p
  %b Content type:
  = @business_medium.content_type
%p
  %b Integer:
  = @business_medium.integer

= link_to 'Edit', edit_business_medium_path(@business_medium)
\|
= link_to 'Back', business_media_path
