%h1 Listing social_need_categories

%table
  %tr
    %th Category
    %th Integer
    %th Social need
    %th Integer
    %th
    %th
    %th

  - @social_need_categories.each do |social_need_category|
    %tr
      %td= social_need_category.category_id
      %td= social_need_category.integer
      %td= social_need_category.social_need_id
      %td= social_need_category.integer
      %td= link_to 'Show', social_need_category
      %td= link_to 'Edit', edit_social_need_category_path(social_need_category)
      %td= link_to 'Destroy', social_need_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Social need category', new_social_need_category_path
