:javascript

  $.getScript('<%= asset_path "dropzone.js" %>',function(){
  });

  $(document).ready(function() {});


.main-slider-need{"ng-controller" => "NeedCtrl"} 
  .row
    .col-md-6
      .row
      %form.sheet.dropzone{:action => "/upload-target"}
        .dz-message{"data-dz-message" => "", :style => "color: #bec3c6;"}
          %span
            = image_tag 'image_icon.png'
          %br/
          Arrastra o haz click para agregar imágenes
      .row.sheet
        %md-input-container.md-block{"flex-gt-sm" => ""}
          %label Link video youtube -no disponible en alpha-
          %input.video    
      .row.hidden-xs{:class=>"floating", :style=>"margin-top: 40px!important;"}
        .col-md-3
          %span
            = image_tag 'needy_mascota.png'   
        .col-md-1{}
        .col-md-6
          %p.speech La necesidad sera revisada por nuestro equipo lo antes posible!
        .col-md-2
    .col-md-6

      = form_for @socials_need, :html => {remote: true, :id =>"main_form" }  do |f|
        - if @socials_need.errors.any?
          #error_explanation
            %h2= "#{pluralize(@socials_need.errors.count, "error")} Existen los siguientes errores:"
            %ul
              - @socials_need.errors.full_messages.each do |msg|
                %li= msg      
        .row.sheet
          .col-md-7
            %md-input-container.md-block
              %label Título de la necesidad
              %input.name
          .col-md-3
            %md-select.category{"md-on-open" => "loadUsers()", "ng-model" => "user", :placeholder => "Categoría", :style => "min-width: 200px;"}
              %md-option{"ng-value" => "user", "ng-repeat" => "user in users"} 
                {{user.name}}
        .row.sheet  
          %md-input-container.md-block
            %label Descriptión
            %textarea.description{"md-maxlength" => "250", "md-select-on-focus" => "", "ng-model" => "user.biography", :rows => "10", :style =>"height: 210px"} 
        .row.sheet
          #sender-d
            %md-input-container.md-block{"flex-gt-sm" => ""}
              %label Ubicación -mapa no disponible-
              %input.latitude{"ng-model" => "user.firstName"}  

        .field
          = f.hidden_field :name,:id=>"name"
          = f.hidden_field :user_id,:id=>"user_id"
          = f.hidden_field :description,:id=>"description"
          = f.hidden_field :latitude,:id=>"latitude"
          = f.hidden_field :longitude,:id=>"longitude"
          = f.hidden_field :address,:id=>"address"
        #sender
          %md-button.md-primary.landing-slider-buttons.button-sender{:style=>"width: 100%"} 
            Crear


:javascript
    $( document ).ajaxComplete(function() {
      //Dropzone.discover();


       var objDropZone;
       Dropzone.autoDiscover = false;
       $(".dropzone").dropzone({
                acceptedFiles: '.jpeg,.jpg,.png',
                maxFilesize: 20, //In MB
                maxFiles: 6,
                addRemoveLinks: true,
                paramName: "image[attachment]",
                autoProcessQueue: false,
                headers: {
              "X-CSRF-Token": $('[name=_token').val()
            },
                init: function () {
                    objDropZone = this;

                    this.on("success", function (file, message) {
                        console.log('file uploaded successfully')
                    });

                    this.on("error", function (file, message) {
                        alert('erroe');
                        var _ref;
                        return //(_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                    });
                 }
            });

    });
    $("#sender").click(function()
    {
      $('#name').val($(".name").val());
      $('#description').val($(".description").val());
      $('#latitude').val($(".latitude").val());
      $("#main_form").submit();
    });


