:javascript

  $.getScript('<%= asset_path "dropzone.js" %>',function(){
  });

  $(document).ready(function() {});


.main-slider-need{"ng-controller" => "NeedCtrl"} 
  .row
    .col-md-6
      .row
      = form_for @socials_need_image,  :html => {:class => "dropzone sheet"} do |f|
        .dz-message{"data-dz-message" => "", :style => "color: #bec3c6;"}
          %span
            = image_tag 'image_icon.png'
          %br/
          Arrastra o haz click para agregar imágenes
        = f.hidden_field :socials_need_id,:id=>"need_id"
      .row.sheet
        %md-input-container.md-block{"flex-gt-sm" => ""}
          %label Link video youtube -no disponible en alpha-
          %input.video    
      .row.hidden-xs{:class=>"floating", :style=>"margin-top: 40px!important;"}
        .col-md-3
          %span
            = image_tag 'needy_mascota.png'   
        .col-md-1{}
        .col-md-6
          %p.speech La necesidad sera revisada por nuestro equipo lo antes posible!
        .col-md-2
    .col-md-6

      = form_for @socials_need, :html => {remote: true, :id =>"main_form" }  do |f|
        - if @socials_need.errors.any?
          #error_explanation
            %h2= "#{pluralize(@socials_need.errors.count, "error")} Existen los siguientes errores:"
            %ul
              - @socials_need.errors.full_messages.each do |msg|
                %li= msg      
        .row.sheet
          .col-md-7
            %md-input-container.md-block
              %label Título de la necesidad
              %input.name
          .col-md-3
            %md-select{"md-on-open" => "loadUsers()", "ng-model" => "user", :placeholder => "Categoría", :style => "min-width: 200px;"}
              %md-option.category_id{"ng-value" => "user", "ng-repeat" => "user in users"} 
                {{user.name}}
        .row.sheet  
          %md-input-container.md-block
            %label Descriptión
            %textarea.description{"md-maxlength" => "250", "md-select-on-focus" => "", "ng-model" => "user.biography", :rows => "10", :style =>"height: 210px"} 
        .row.sheet
          #sender-d
            %md-input-container.md-block{"flex-gt-sm" => ""}
              %label Ubicación -mapa no disponible-
              %input.latitude{"ng-model" => "user.firstName"}  

        .field
          = f.hidden_field :name,:id=>"name"
          = f.hidden_field :user_id,:id=>"user_id"
          = f.hidden_field :description,:id=>"description"
          = f.hidden_field :category_id,:id=>"category_id"
          = f.hidden_field :latitude,:id=>"latitude"
          = f.hidden_field :longitude,:id=>"longitude"
          = f.hidden_field :address,:id=>"address"
        #sender
          %md-button.md-primary.landing-slider-buttons.button-sender{:style=>"width: 100%"} 
            Crear


:javascript
    var need_id=null;
    jQuery(document).ready(function() {
      var myDropzone = new Dropzone(".dropzone", { 
        url: '/socials_need_images',
        autoProcessQueue:false,
        params: {
          'socials_need_image[socials_need_id]': need_id
        },
        paramName: "socials_need_image[image_content]",
        addRemoveLinks: true,
        parallelUploads: 10,
        acceptedFiles: '.jpeg,.jpg,.png',
        maxFilesize: 5,
        maxFiles: 6,
        init: function () {
            objDropZone = this;
            this.on("success", function (file, message) {
                swal
                (
                  {
                    title: "Su necesidad será revisada para ser aprobada.",
                    type: "success",
                    timer: 3500,
                    showConfirmButton: false
                  }
                );
                setTimeout(function()
                      {
          angular.element($(".main-slider-need")).scope().ReloadState();
                      }
                  , 3600); 
            });
            this.on("error", function (file, message) {
                alert('error, intente con otra imagen o menos imagenes')
            });
         }
      });


    $('#sender').on('completemultiple', function () {
            alert('finish');
    });  

    $('#sender').on('click',function(e){
    setTimeout(
      function()
          {
            e.preventDefault();myDropzone.processQueue();
          }
      , 2600);
      });   
    });

    $("#sender").click(function()
    {
      $('#name').val($(".name").val());
      console.log($("#select_value_label_0 div").text());
      $('#category_id').val($("#select_value_label_0 div").text());
      $('#description').val($(".description").val());
      $('#latitude').val($(".latitude").val());
      $("#main_form").submit();
    });


