.show-container
  .container-fluid
    .row{:style=>"margin-top: 20px"}
      %h2
        = @socials_need.name
      %span
        %b Por:
        = User.find(@socials_need.user_id).name
      %span
        %b Ubicación
        = @socials_need.latitude
  .container-fluid{:style=>"margin-top: 50px !important"}
    .row
      .col-md-6
        .row
          .col-md-6
            %a{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url }" ,:target => "_blank"}
              .facebook-button
                .text
                  Compartir
          .col-md-6
            .twitter-button
              .text
                Compartir
        =image_tag SocialsNeedImage.where(:socials_need_id => @socials_need.id).take.image_content
      .col-md-6
        %p
          = @socials_need.description
        %md-button.md-raised.md-primary.landing-slider-buttons{} 
          Apoya

