%p#notice= notice

%p
  %b Commnets:
  = @commnet_like.commnets_id
%p
  %b Integer:
  = @commnet_like.integer
%p
  %b Value:
  = @commnet_like.value
%p
  %b Integer:
  = @commnet_like.integer
%p
  %b User:
  = @commnet_like.user_id
%p
  %b Integer:
  = @commnet_like.integer

= link_to 'Edit', edit_commnet_like_path(@commnet_like)
\|
= link_to 'Back', commnet_likes_path
