.main-slider{:layout => "row", "layout-align" => "center center", "ng-controller" => "HomeCtrl"} 
  .main-title
    .visible-xs.main-image.alterHeight
      =image_tag 'mobile.png'
    .row
      .col-md-12{:layout => "row", "layout-align" => "center center"}   
        %h1
          ¿Qué necesita Chile? 
      .col-md-12{:layout => "row", "layout-align" => "center center"}  
        -if current_user!= nil
          %md-button.md-raised.md-primary.landing-slider-buttons{"ui-sref" => "new_social_needs"} 
            Crear       
        %md-button.md-raised.md-primary.landing-slider-buttons{"ui-sref" => "social_needs.filter({name: 'all',category: 'all', filter: 'all'})"} 
          Descubre
  %video#bgvid{:autoplay => "", :loop => "", :poster => ""}
    %source{:src => "#{image_url 'video.webm'}", :type => "video/webm"}
      %source{:src => "#{image_url 'video.mp4'}", :type => "video/mp4"}
.row
  #basic-waypoint.col-md-12.second-content
    .row{:layout => "row", "layout-align" => "center center"}  
      .col-md-9
        .h2-title
          Necesidades más Urgentes
        %div{"ui-view" => ""}
      .col-md-3.resume-project.hidden-xs
        %ul
          -@counter=1
          -@categories.each do |category|
            -if @counter==1
              %li.category-list.selected-category-list{"ui-sref" => "home.filer({filter: '#{category.id}'})"}
                =category.name
            -else
              %li.category-list{"ui-sref" => "home.filer({filter: '#{category.id}'})"}
                =category.name
            -@counter+=1


.row
  .text-center.pagination-centered
    %br
    %table
      -begin
        - @social_needs_all.each do |socials_need|
          .card{:style=>"width: 320px; display: inline-block; margin: 15px; margin-bottom: 50px"}
            .thumbnail{:style=>"cursor: pointer","ui-sref" => "social_need({id: '#{socials_need.id}'})"}
              

              -begin
                =image_tag SocialsNeedImage.where(:socials_need_id => socials_need.id).take.image_content
              -rescue Exception => e
                =image_tag 'missing_im.png'


            .content
              %h6{:style=>"cursor: pointer","ui-sref" => "social_need({id: '#{socials_need.id}'})"}
                = socials_need.name
              .by
                %p
                  BY: 
                  = User.find(socials_need.user_id).name
              .description
                %p
                  =truncate(socials_need.description, length: 100)
                .footer
                  .row
                    .col-md-8
                      %i.fa.fa-map-marker
                      = socials_need.latitude
                    .col-md-4.pull-right
                      %i.fa.fa-thumbs-up
                      80 
                      %i.fa.fa-thumbs-down
                      21
      -rescue Exception => e
        %h1
          No hay necesidades
.row
  #basic-waypoint.col-md-12.fourth-content
    .row{:layout => "row", "layout-align" => "center center"}  
      .col-md-12{:style=>"text-align:center; margin: 20px 20px;"}
        %h2
          ¿Qué es Needy?
    .row
      %br
      .col-md-6
        %iframe{:height => "315", :src => "http://www.youtube.com/embed/oooOET1IIiY?autoplay=0", :width => "100%"}
      .col-md-6
        .quees{:style=>"line-height: 28px;"}
          .row{:style=>"margin-bottom:40px !important"}
            .col-md-12
              %i.fa.fa-sellsy
              %span.feature-title
                Portal de opinión
              .div
                Es donde se escuchan las necesidades y opiniones de los Chilenos.                
          .row{:style=>"margin-bottom:40px !important"}
            .col-md-12
              %i.fa.fa-globe
              %span.feature-title
                ¿Cómo funciona?
              .div
                Si reconoces algún problema o necesidad del lugar donde vives, compártelo con nosotros.
          .row{:style=>"margin-bottom:40px !important"}
            .col-md-12
              %i.fa.fa-hourglass-end
              %span.feature-title
                ¿Con qué fin?
              .div                
                Si se te ocurre alguna forma de solucionar el problema, compártela!


:javascript
    $(document).ready(function() {
    jQuery('.category-list').click(function(){
      $('.category-list').removeClass('selected-category-list');
      $(this).addClass('selected-category-list');
    });
  });



    