= form_for @sponsor do |f|
  - if @sponsor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sponsor.errors.count, "error")} prohibited this sponsor from being saved:"
      %ul
        - @sponsor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :picture
    = f.text_field :picture
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :string
    = f.text_field :string
  .actions
    = f.submit 'Save'
