= form_for @socials_need_image do |f|
  - if @socials_need_image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@socials_need_image.errors.count, "error")} prohibited this socials_need_image from being saved:"
      %ul
        - @socials_need_image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :socials_need_id
    = f.number_field :socials_need_id
  .field
    = f.label :image_content
    = f.file_field :image_content
  .actions
    = f.submit 'Save'
