= form_for @solutions_like do |f|
  - if @solutions_like.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solutions_like.errors.count, "error")} prohibited this solutions_like from being saved:"
      %ul
        - @solutions_like.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :solution_id
    = f.text_field :solution_id
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :string
    = f.text_field :string
  .actions
    = f.submit 'Save'
