= form_for @solution_medium do |f|
  - if @solution_medium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution_medium.errors.count, "error")} prohibited this solution_medium from being saved:"
      %ul
        - @solution_medium.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :solution_id
    = f.text_field :solution_id
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :content_url
    = f.text_field :content_url
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :content_type
    = f.text_field :content_type
  .field
    = f.label :integer
    = f.text_field :integer
  .actions
    = f.submit 'Save'
