%ul.nav.navbar-nav.btnMenu2int.right
	- unless current_user&&(can? :manage, :admin)&&['admins','users'].include?(controller.controller_name)
		- if current_user
			%li.imgUser.hidden-xs
				= image_tag current_user.get_image(:thumb), class: "img-circle"
			- if (can? :manage, :admin)
				%li.btnAdmin 
					= link_to t('common.nav.admin'), '#'
			%li.btnNombre
				= link_to current_user.to_s, '#'
			%li.btnNombre 
				= link_to t('common.nav.logout'), '#'
		- else
			%li.btnAdmin 
				= link_to t('common.nav.register'), '#'
			%li 
				= link_to 'Contacto', '#'
			%li.btnAdmin
				= link_to t('common.nav.login'), '#'
			%li.btnAdmin
				= link_to '#'
	- else
		%li{:class => ['dashboard'].include?(controller.action_name) ? 'active' : ''}
			= link_to t('common.admin.dashboard'), admin_home_path
		%li{:class => 'index'==controller.action_name&&'users'==controller.controller_name ? 'active' : ''}
			= link_to t('common.admin.users'), '#'
		%li.btnAdmin
			= link_to t('common.admin.go_back'), '#'
		%li.btnAdmin
			= link_to '#'