
%ul.nav.navbar-nav.btnMenu2int.right{"ng-cloak" => "", "ng-controller" => "NavigationCtrl"}
	%li.btnAdmin{"ui-sref" => "home"} 
		= link_to 'Inicio', 'javascript:void(0)'
	- unless current_user&&(can? :manage, :admin)&&['admins','users'].include?(controller.controller_name)
		- if current_user
			%li.imgUser.hidden-xs
				= image_tag current_user.get_image(:thumb), class: "img-circle"
			- if (can? :manage, :admin)
				%li.btnAdmin 
					= link_to t('common.nav.admin'), 'javascript:void(0)'
			%li.btnAdmin
				= link_to current_user.to_s, '#'
			%li.btnAdmin{"ui-sref" => "inicio2"} 
				= link_to 'Contacto', 'javascript:void(0)'
			%li.btnAdmin{}
				= link_to 'Salir', log_out_path
		- else
			%li.btnAdmin{"ng-click" => "showRegister($event)"}
				= link_to 'Registrate', 'javascript:void(0)'
			%li.btnAdmin{"ui-sref" => "inicio2"} 
				= link_to 'Contacto', 'javascript:void(0)'
			%li.btnAdmin{"ng-click" => "showLogin($event)"}
				= link_to 'Entrar', 'javascript:void(0)'
	- else
		%li{:class => ['dashboard'].include?(controller.action_name) ? 'active' : ''}
			= link_to t('common.admin.dashboard'), admin_home_path
		%li{:class => 'index'==controller.action_name&&'users'==controller.controller_name ? 'active' : ''}
			= link_to t('common.admin.users'), '#'
		%li.btnAdmin
			= link_to t('common.admin.go_back'), '#'
		%li.btnAdmin
			= link_to '#'