!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      =favicon_link_tag
      -# Favicon
        
        %link{:rel=>"icon", :type => "image/ico", :href => "/assets/favicon.ico"}
      %meta{:content => "yGN1yX6Bj0uGy9rOk-GJbfz1KUvVAw9MzRyVoZIkMu0", :name => "google-site-verification"}/
      %title= content_for?(:title) ? yield(:title) : t('common.app_name')
      %meta{:content => content_for?(:description) ? yield(:description) : t('common.app_desc'), :name => "description"}
      %meta{:content => "yGN1yX6Bj0uGy9rOk-GJbfz1KUvVAw9MzRyVoZIkMu0", :name => "google-site-verification"}/
      = metamagic
      = stylesheet_link_tag "application", :media => "all" #, "data-turbolinks-track" => true
      = javascript_include_tag "application" #, "data-turbolinks-track" => true
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    =yield

